<div class="aw-item">
    <div class="mod-head">
        <a class="anchor"></a>
        <a class="aw-user-img aw-border-radius-5 pull-right" href="#">
            <img src="/images/avatar-max-img.png">
        </a>
        <div class="title">
            <p>
                <a class="aw-user-name" href="#">李志远</a>
            </p>
        </div>
    </div>
    <div class="mod-body clearfix">
        <div class="markitup-box">
            同求,请问楼主的问题解决了吗?
            <span class="text-color-999 pull-right">
                        22小时之前
                    </span>
        </div>
    </div>
    <div class="mod-footer"></div>
</div>