<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="aw-user-setting">
                    <!--导航-->
                    <div class="">
                        <ul class="nav nav-tabs aw-nav-tabs active">
                            <h2 style="color:red" >
                                <i class="fa fa-warning"></i>&nbsp;出错啦！！！
                            </h2>
                        </ul>
                    </div>
                    <!--修改内容-->
                    <div class="tab-content clearfix" style="padding-bottom:150px">
                            <div class="aw-mod">
                                <div class="mod-body">
                                    <!--基本信息-->
                                    <div class="aw-mod mod-base">
                                        <div class="mod-head text-center">
                                            <h3><%= message %></h3>
                                        </div>
                                        <div class="mod-body">
                                            <span><%= error %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
