<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!--文章的检索-->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li><a href="#">热门</a></li>
                        <li><a href="#">推荐</a></li>
                        <li class="active"><a href="#">最新</a></li>
                        <h2 class="hidden-xs"><i class="fa fa-bars"></i> 发现</h2>
                    </ul>
                    <!--文章的检索-->
                    <!--文章列表-->
                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list">
                                <div class="aw-item">
                                    <a class="aw-user-name hidden-xs" href="#"><img src="/images/avatar-max-img.png"></a>
                                    <div class="aw-question-content">
                                        <h4>
                                            <a href="/question/1">文章的标题</a>
                                        </h4>
                                        <a href="#"  class="pull-right text-color-999">回复</a>
                                        <p>
                                            <a href="#" class="aw-user-name">作者</a>
                                            <span class="text-color-999">
                                                发起了问题 • 1 人关注 • 0 个回复 • 9 次浏览 • 3 小时前
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="aw-item">
                                    <a class="aw-user-name hidden-xs" href="#"><img src="/images/avatar-max-img.png"></a>
                                    <div class="aw-question-content">
                                        <h4>
                                            <a href="/question/2">文章的标题</a>
                                        </h4>
                                        <div class="pull-right hidden-xs contribute">
                                            <span class="pull-right text-color-999">贡献</span>
                                            <a class="aw-user-name" href="#"><img src="/images/avatar-max-img.png"></a>
                                        </div>
                                        <p>
                                            <a href="#" class="aw-user-name">作者</a>
                                            <span class="text-color-999">
                                                发起了问题 • 1 人关注 • 0 个回复 • 9 次浏览 • 3 小时前
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="page-control">
                                <ul class="pagination pull-right">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--侧边栏-->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="#" class="pull-right">更多</a>
                            <h3>热门用户</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="#"><img src="/images/avatar-max-img.png"></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="#" class="aw-user-name">李志远</a>
                                    <p class="signature"></p>
                                    <p>
                                        <b>0</b>个问题
                                        <b>0</b>次赞同
                                    </p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="#"><img src="/images/avatar-max-img.png"></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="#" class="aw-user-name">李志远</a>
                                    <p class="signature"></p>
                                    <p>
                                        <b>0</b>个问题
                                        <b>0</b>次赞同
                                    </p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="#"><img src="/images/avatar-max-img.png"></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="#" class="aw-user-name">李志远</a>
                                    <p class="signature"></p>
                                    <p>
                                        <b>0</b>个问题
                                        <b>0</b>次赞同
                                    </p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="#"><img src="/images/avatar-max-img.png"></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="#" class="aw-user-name">李志远</a>
                                    <p class="signature"></p>
                                    <p>
                                        <b>0</b>个问题
                                        <b>0</b>次赞同
                                    </p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="#"><img src="/images/avatar-max-img.png"></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="#" class="aw-user-name">李志远</a>
                                    <p class="signature"></p>
                                    <p>
                                        <b>0</b>个问题
                                        <b>0</b>次赞同
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
