<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!--文章的检索-->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li>
                            <a href="#read" data-toggle="tab">已读</a>
                        </li>
                        <li class="active">
                            <a href="#no_read" data-toggle="tab">未读</a>
                        </li>
                        <h2 class="hidden-xs">
                            <i class="fa fa-bell-o"></i>
                            消息
                        </h2>
                    </ul>
                    <!--文章的检索-->
                    <!--文章列表-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="no_read">
                            <div class="aw-mod aw-explore-list">
                                <!--全部已读的按钮-->
                               <div style="margin:20px 0">
                                   <button class="btn btn-success pull-left">
                                       全部已读
                                   </button>
                               </div>
                               <div class="aw-common-list">
                                   <div class="aw-item" style="padding-left: 0">
                                       <div>
                                           <a href="#">aylizhiyuan</a>
                                           在
                                           <a href="#">请问怎么做才合适</a>
                                           中@我
                                           <button class="btn btn-primary pull-right btn-sm">确认已读</button>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="read">
                            <div class="aw-mod aw-explore-list">
                                <div class="aw-common-list">
                                    <div class="aw-item" style="padding-left: 0">
                                        <div>
                                            <a href="#">aylizhiyuan</a>
                                            在
                                            <a href="#">请问怎么做才合适</a>
                                            中@我
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--侧边栏-->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">

                </div>
            </div>
        </div>
    </div>
</div>
