<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!--加载boostrap前端UI框架-->
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.css">
    <!--加载图标库-->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css">
    <!--加载首页的css样式-->
    <link rel="stylesheet" href="/stylesheets/register.css">
    <!--加载jquery-->
    <script src="/plugins/jquery/dist/jquery.js"></script>
    <!--加载angularJS-->
    <script src="/plugins/angular/angular.js"></script>
</head>
<body>

</body>
</html>