<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="aw-user-setting">
                    <!--导航-->
                    <div class="">
                        <ul class="nav nav-tabs aw-nav-tabs active">
                            <h2>
                                <i class="fa fa-cog"></i>&nbsp;用户设置
                            </h2>
                        </ul>
                    </div>
                    <!--修改内容-->
                    <div class="tab-content clearfix" style="padding-bottom:150px">
                        <div class="aw-mod">
                            <div class="mod-body">
                                <!--基本信息-->
                                <div class="aw-mod mod-base">
                                    <div class="mod-head">
                                        <h3>基本信息</h3>
                                    </div>
                                    <form action="">
                                        <div class="mod-body">
                                            <dl>
                                                <dt>账号:</dt>
                                                <dd><%= user.name %></dd>
                                            </dl>
                                            <dl>
                                                <dt>邮箱:</dt>
                                                <dd><%= user.email %></dd>
                                            </dl>
                                            <dl>
                                                <dt><label>个性签名:</label></dt>
                                                <dd class="introduce">
                                                    <input class="form-control" type="text" value="<%= user.motto %>" required>
                                                </dd>
                                            </dl>
                                            <div class="side-bar">
                                                <dl>
                                                    <dt class="pull-left text-center">
                                                        <div class="kv-avatar">
                                                            <div class="file-loading">
                                                                <input id="avatar" name="avatar" type="file" required>
                                                            </div>
                                                        </div>
                                                    </dt>
                                                    <dd style="width:200px;" class="pull-left text-center">
                                                        <h5>头像设置</h5>
                                                        <p>支持jpg、gif、png等格式的图片(其他的图片格式不支持)</p>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="mod-footer clearfix">
                                <a href="#" class="btn btn-large btn-success text-center">保存</a>
                                <div id="kv-avatar-errors-2" class="center-block text-center" style="width:800px;display:none">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/plugins/fileinput/css/fileinput.min.css">
<script src="/plugins/fileinput/js/fileinput.min.js"></script>
<script src="/plugins/fileinput/js/locales/zh.js"></script>
<script>
    $("#avatar").fileinput({
        overwriteInitial: true,
        uploadUrl:'/updateImage',
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        showBrowse: false,
        browseOnZoneClick: true,
        removeLabel:'',
        removeIcon:'<i class="glyphicon glyphicon-remove"></i>',
        removeClass:'btn btn-danger',
        removeTitle:"取消或重置更改",
        uploadLabel:'',
        uploadClass:'btn btn-success',
        uploadIcon:'<i class="glyphicon glyphicon-arrow-up"></i>',
        msgErrorClass:'alert alert-block alert-danger',
        elErrorContainer:'kv-avatar-errors-2',
        layoutTemplates:{main2:'{preview}' + '{browse}'},
        language: "zh",
        allowedFileExtensions: ["jpg", "png", "gif"],
        defaultPreviewContent:'<img src="<%= user.avatar %>">'
    }).on('fileuploaded',function(event,data,previewId,index){
        console.log(data.response.url.replace('public',''));
    });

</script>
