<div class="aw-item" style="padding-left: 0">
    <div>
        <a href="#"><%= message.author_id.name %></a>
        在
        <a href="#"><%= message.question_id.title %></a>
        中@我
    </div>
</div>