<div class="aw-comment-box hide">
    <div class="aw-comment-list" style="border-bottom:0;">
        <div align="center" class="aw-padding10" style="border-bottom:1px solid #F5F5F5;">
            <p><%= reply.comment_num %>条评论</p>
        </div>
        <div class="text-center" style="font-size:30px;line-height:50px;">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <!--<div class="aw-item">
            <div class="mod-head">
                <a class="anchor"></a>
                <a class="aw-user-img aw-border-radius-5 pull-right" href="#">
                    <img src="/images/avatar-max-img.png">
                </a>
                <div class="title">
                    <p>
                        <a class="aw-user-name" href="#">李志远</a>
                        回复
                        <a href="#">蜡笔小新</a>
                    </p>
                </div>
            </div>
            <div class="mod-body clearfix">
                <div class="markitup-box">
                    同求,请问楼主的问题解决了吗?
                    <span class="text-color-999 pull-right">
                        22小时之前
                    </span>
                </div>
            </div>
            <div class="mod-footer">
                <div class="meta clearfix">
                    <span class="operate">
                        <a class="agree">
                            <i class="fa fa-thumbs-o-up"></i>
                            <b class="count">0</b>
                        </a>
                        <a class="disagree">
                            <i class="fa fa-thumbs-o-down"></i>
                        </a>
                    </span>
                    <span class="operate">
                        <a class="aw-show-comment">
                            回复
                        </a>
                    </span>
                </div>
                <form class="hide" action="" style="background:none;padding:10px 0px;">
                    <div class="aw-comment-box-main">
                        <div class="comment_markdown" placeholder="回复某个人" contenteditable></div>
                        <div class="aw-comment-box-btn" style="display: block;">
                            <span class="pull-right">
                                <a class="commentBtn btn btn-default btn-success" disabled>
                                    评论
                                </a>
                                <a class="btn btn-primary close-comment-box">
                                    取消
                                </a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>-->
        <form action="/<%= question._id %>/comment" style="background:none;padding:10px 0px">
            <input type="hidden" name="reply_id" value="<%= reply._id %>">
            <input type="hidden" name="comment_target_id" value="">
            <div class="aw-comment-box-main">
                <div style="white-space: pre" class="comment_markdown pull-left public" placeholder="请写下你的评论..." contenteditable="true"></div>
                <span class="pull-right">
                    <input type="submit" class="commentBtn btn btn btn-success" disabled>
                </span>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>