<% if(user){%>
<div class="aw-mod">
    <div class="mod-head">
        <h3>个人信息</h3>
    </div>
    <div class="mod-body">
        <dl>
            <dt class="pull-left aw-border-radius-5">
                <a href="#"><img src="/images/default-avatar.jpg"></a>
            </dt>
            <dd class="pull-left">
                <a class="aw-user-name" href="#">
                    用户名
                </a>
                <a href="#" class="pull-right">更多</a>
            </dd>
        </dl>
    </div>
    <div class="mod-footer">
        这家伙很懒，什么都没有留下...
    </div>
</div>
<%}%>